@import './_variables.scss';

// **************** Area 1
.area1 {
    height: 85vh;
    width: 100vw;
  }
  
  #portrait {
    height: 70vh;
    width: auto;
    position: absolute;
    top: 6%;
    left: 6%;
  }
  
 
  @media only screen and (max-width: 1025px) {
    .area1 {
      height: 60vh;
      width: 100vw;
    }
    #portrait {
      height: 30vh;
    }
    .titleBox {
      font-size: 0.9rem;
      width: 90%;
      height: auto;
      top: 35%;
      left: 6%;
      &-name {
        font-size: 1rem;
        & span {
          font-size: 1.3rem;
        }
      }
      &-bold {
        font-size: 1.6rem;
      }
    }
  }

  
  // **************** Stripe Section
  .Stripe {
    height: 57vh;
    transform: skewY(-6deg);
    background-color: $primary-StripeColor;
    box-shadow: 0px 15px 38px #0000016b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  
  // **************** Area 3
  