*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import 'materialize-css/dist/css/materialize.min.css';
@import './_variables.scss';
@import '../styles/_home.scss';
@import '../styles/_resume.scss';
@import '../styles/_contact.scss';

// @media only screen and (max-width: 1025px) {
//   .main {
//     background-color: green;
//   }
// }
//************************** animated background
// @keyframes fadeOutUp {
//   from {
//     opacity: 1;
//   }

//   to {
//     opacity: 0;
//     transform: translate3d(0, -100%, 0);
//   }
// }

// .fadeOutUp {
//   animation-name: fadeOutUp;
// }

body {
  color: $font-third-color !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: $section1-color;
}

// **************** Nav
.nav-button {
  margin: 2%;
  position: fixed;
  background-color: $button-orange-color;
}
.sidenav{
  background-color: rgba(255, 255, 255, 0.692) !important;
}
.email{
  color: red !important;
  font-style: $font-black;
}