*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import 'materialize-css/dist/css/materialize.min.css';
@import './_variables.scss';
// @media only screen and (max-width: 1025px) {
//   .main {
//     background-color: green;
//   }
// }
//************************** animated background
// @keyframes fadeOutUp {
//   from {
//     opacity: 1;
//   }

//   to {
//     opacity: 0;
//     transform: translate3d(0, -100%, 0);
//   }
// }

// .fadeOutUp {
//   animation-name: fadeOutUp;
// }

body {
  color: $font-third-color !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: $section1-color;
}

// **************** Nav
.nav-button {
  margin: 2%;
  position: fixed;
  background-color: $button-orange-color;
}

// **************** Area 1
.area1 {
  height: 85vh;
  width: 100vw;
}

#portrait {
  height: 70vh;
  width: auto;
  position: absolute;
  top: 6%;
  left: 6%;
}

.titleBox {
  height: auto;
  width: 40%;
  text-align: left;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  &-name {
    font-weight: $font-semibold;
    color: $title-font-color;
    font-size: 1.5rem;
    & span {
      color: $button-orange-color;
      font-size: 1.8rem;
    }
  }

  &-bold {
    font-weight: $font-bold;
    color: $title-font-color;
    font-size: 3.4rem;
  }
}
@media only screen and (max-width: 1025px) {
  .area1 {
    height: 60vh;
    width: 100vw;
  }
  #portrait {
    height: 30vh;
  }
  .titleBox {
    font-size: 0.9rem;
    width: 90%;
    height: auto;
    top: 35%;
    left: 6%;
    &-name {
      font-size: 1rem;
      & span {
        font-size: 1.3rem;
      }
    }
    &-bold {
      font-size: 1.6rem;
    }
  }
}
// **************** Stripe Section
.Stripe {
  height: 57vh;
  transform: skewY(-6deg);
  background-color: $primary-StripeColor;
  box-shadow: 0px 15px 38px #0000016b;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.featureBox {
  transform: skewY(6deg);
  width: 20%;
  height: 75%;
  // color: $title-font-color;
  border-radius: 5px;
  text-align: center;
  &-f1 {
    background-color: rgba(65, 105, 225, 0.383);
    box-shadow: 10px 15px 38px rgba(20, 37, 87, 0.829);
  }
  &-f2 {
    background-color: rgba(255, 255, 0, 0.383);
    box-shadow: 10px 15px 38px rgba(119, 119, 21, 0.582);
  }
  &-f3 {
    background-color: rgba(255, 0, 0, 0.383);
    box-shadow: 10px 15px 38px rgba(165, 25, 25, 0.829);
  }
}
@media only screen and (max-width: 1025px) {
  .Stripe {
    overflow: scroll;
    flex-direction: column;
    padding: 2%;
  }
  .featureBox {
   width: 90vw;
   height: 75wh;
   margin: 5%;
  }
}

// **************** Area 3
.area3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &-2dividers {
    width: 35rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &-skillArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &-skill {
    width: 8rem !important;
    height: 2.5rem !important;
    margin-top: 1rem;
    color: $title-font-color;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-blue {
    background-color: royalblue;
  }
  &-yellow {
    background-color: yellow;
  }
  &-red {
    background-color: red;
  }
  &-orange {
    background-color: orange;
  }
  &-purple {
    background-color: purple;
  }
  &-green {
    background-color: green;
  }
  &-icon {
    height: 2rem;
    width: 2rem;
  }
}
