@import './_variables.scss';

.header {
  width: 100vw;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.downloadButton{
  margin: 2%;
  position: absolute;
  top: 0%;
  right: 50%;
  background-color: $button-orange-color;
}
h3 {
  font-size: 1.5rem;
  color: $font-test-light-color;
  font-weight: $font-semibold;
}
h4 {
  font-size: 1.5rem;
  color: $font-test-color;
  font-weight: $font-semibold;
}

.profileField {
  height: 25%;
  width: 40%;
  position: absolute;
  left: 32%;
  top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-profile {
    height: 100%;
    width: 34%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $font-test-color;
    margin: 3%;
    & img {
      height: 97%;
    }
  }
  & p {
    font-size: 2.5rem;
    color: $font-name-color;
    font-weight: $font-bold;
  }
}
@media only screen and (max-width: 1025px) {
  .header {
    height: 25vh;
  }
  .profileField {
    height: 15%;
    width: 100vw;
    left: 0%;
    top: 5%;
    &-profile {
      height: 80%;
      width: 22%;
    }
    & p {
      font-size: 2rem;
    }
  }
}
.portfolioContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical {
  height: 128vh;
  left: 50%;
  top: 40%;
  border-radius: 50%;
  border-left: 2px solid $font-test-color;
  position: absolute;
}

.left {
  width: 47%;
  display: flex;
  text-align: end;
  flex-direction: column;
  padding-left: 5%;
}
.right {
  width: 47%;
  display: flex;
  text-align: start;
  flex-direction: column;
}
@media only screen and (max-width: 1025px) {
  .vertical {
    height: 130vh;
    top: 30%;
  }
  .left {
    height: 140vh;
    overflow-y: scroll;
  }
}
.company {
  color: $font-secondary-color;
}
.position {
  color: $title-font-color;
  font-weight: $font-semibold;
}

.resumeSkills {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  & p {
    display: flex;
    width: 7rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
  }
}
.contactMe {
  width: 46vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &-line {
    width: 20vw;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-icon {
    width: 2rem;
    height: auto;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 1025px) {
  .resumeSkills {
    flex-direction: row;
    width: 100%;
    & p {
      font-size: 0.7rem;
      width: 4rem;
      justify-content: space-between;
    }
  }
  .contactMe {
    &-line {
      font-size: 0.5rem;
    }
  }
}

.hobbyArea {
    width:70%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & img {
        width: 10vh;
        margin: 3%;
    }
}
@media only screen and (max-width: 1025px) {
    .hobbyArea  {
        width:90%;
        flex-direction: row;
    
    & img {
        width: 5.6vh;
        height: auto;
    }}
}