$primary-color: #1f2935;
$secondary-color:#161d26;
$section1-color: #000001;


$title-font-color: #0abead;
$font-primary-color:#95a5c6;
$font-secondary-color:#91a2c2;
$font-third-color:#6a758d;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$button-orange-color:#f57f17;
$button-on-hover:#08bbaa;