*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color:#6a758d;
  background-color: #161d26;
  font-family: 'Poppins', sans-serif;
}
.title-font{
  color:#0abead;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  background-color:#1f2935;
  width: 100vw;
  height: 4rem;
}

#logo{
  font-size: 1.9em;
  margin-left:60px;
  font-weight: 900;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  width: 40vw;
  margin-right: 150px ;
}
.navlink{
  font-weight: 520;
  font-size: 12px;
  color:#95A5C6;
}
.navlink:hover{
  position: static;
  font-size: 13px;
  color:#0abead;
  text-shadow: 0.5px 1px 2px #7070707c;
}



.Hero {
  display: flex;
  flex-wrap: wrap;
  overflow:scroll;
  justify-items: center;
  align-items: center;
  height: 720px;
  width: 100vw;
  background-color: #000001;
}

.section1{
  height: 800px;
  width: 100vw; 
  display: flex;
  flex-wrap: nowrap;
 /* background-image: url('https://i.pinimg.com/originals/11/3a/4c/113a4c1bcebaba2d3bd4cd25780dbcff.jpg'); */
}
#laptop{
  height: 800px ;
  width: auto;
  position: relative;
  right: -60px;
}

.section-shape{
  background:#161d26;
  height: 1100px;
  width: 100vw;
}

.hero-stripe{
  height: 500px;
  width: 100vw;
  transform: skewY(-11deg);
  position: relative;
  top: -150px;
  background-color: #1f2935;
  box-shadow: 0px 0px 38px #0000016b;
  
}
.normalize-box{
  transform: skewY(11deg);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#portrait{
  height: 650px ;
  width: auto;
  position: relative;
  top: -150px;
  right: -90px;
}

.text-box{
  height: 350px;
  width: 450px;
  position: relative;
  top: 150px;
  left: 80px;
}

.hero-content{
  height: 500px;
  width: 100vw;
  
}




.footer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color:#1f2935;
  width: 100vw;
  height: 2.7rem;
  font-weight: 600;
  font-size: 13px;
  color:#95A5C6;
  box-shadow: 0px -20px 8px #0000016b;
}

.footer-icon-area{
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px ;
}

.footer-icon{
  height: 25px;
  margin-right: 17px ;
}