/* >>>>>>>>>>>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<<<<<<<<<< */

/* To make simple background parallax
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover; */


.shadow {
  min-width: 100%;
  min-height: 500px;
  position: absolute;
  left: 0;
  bottom: -2%;
  z-index: 20;
  background: linear-gradient(to bottom, transparent, var(--metal));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  min-width: 100vw;
  min-height: 7vh;
  background-color: var(--metal);
  display: flex;
  justify-items: center;
  align-items: center;
}
.footerText {
  font-size: 1rem;
}

@media only screen and (max-width: 767px) {
  .shadow {
    bottom: -10%;
  }
  .footerText {
    font-size: 0.5rem;
  }
}
