/* >>>>>>>>>>>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<<<<<<<<<< */

/* To make simple background parallax
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover; */

.firstContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.firstContainer:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}

.river {
  /* height: 100vh; */
  width: 100vw;
}

.titleBox {
  width: 40%;
  position: absolute;
  bottom: 15rem;
  left: 10rem;
  z-index: 21;
  font-size: 1rem;
  text-align: left;
}

.intro-name {
  font-weight: var(--font-semibold);
  color: var(--white);
  font-size: 1rem;
}

.intro-name span {
  color: var(--button-orange-color);
  font-size: 3.4rem;

  display: block;
}

.slogan {
  font-weight: var(--font-bold);
  color: var(--amaranth);
  font-size: 2rem;
}
.titleBox--description {
  /* color: var(--amaranth); */
  font-size: 1rem;
}
.personalLinks {
  width: 5%;
  height: 20%;
  position: absolute;
  bottom: 200%;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 31;
}
.personalLinks img {
  width: 3vw !important;
  display: block;
}

.personalLinks-overlay {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s;
}

@media only screen and (max-width: 1025px) {
  .laptop {
    bottom: 0px;
  }
  .personalLinks {
    top: 75%;
    right: 3%;
  }
  .titleBox {
    top: 60%;
    left: 45%;
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .titleBox {
    top: 45%;
    height: 30%;
    &-bold {
      font-size: 2.4rem;
    }
  }
}

@media only screen and (max-height: 734px) {
  .profile {
    height: 90%;
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .laptop {
    height: 85%;
    top: -10%;
    right: -10%;
  }
  .profile {
    height: 75%;
    width: auto;
  }
  .cellphone {
    bottom: 8%;
    width: 400px;
    right: -80px;
  }
  .personalLinks {
    width: 8%;
    left: 8%;
    & img {
      width: 100% !important;
    }
  }
  .titleBox {
    top: 15%;
    left: 35%;
    height: 30%;
    width: 60%;
    &-name {
      font-size: 1rem;
      & span {
        font-size: 1.3rem;
      }
    }
    &-bold {
      font-size: 2rem;
    }
    &-description {
      /* color: var(--amaranth); */
      font-size: 0.6rem;
    }
  }
}

.shadow {
  min-width: 100%;
  min-height: 500px;
  position: absolute;
  left: 0;
  bottom: -2%;
  z-index: 20;
  background: linear-gradient(to bottom, transparent, var(--metal));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  min-width: 100vw;
  min-height: 7vh;
  background-color: var(--metal);
  display: flex;
  justify-items: center;
  align-items: center;
}
.footerText {
  font-size: 1rem;
}

@media only screen and (max-width: 767px) {
  .shadow {
    bottom: -10%;
  }
  .footerText {
    font-size: 0.5rem;
  }
}
