#navigation-container {
  position: absolute;
  top: 0;
  left: -10px;
  width: 100%;
  height: 15%;
  z-index: 30;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: linear-gradient(to bottom, black, transparent);
  align-items: center;
  padding: 0 3rem ;
}
.button-container {
  width: 25%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {
  .button-container {
    width: 100%;
  }
}
